<p id="notice"><%= notice %></p>

<div class="blog_detail_header">
  <!-- 変更ボタン -->
  <div class="blog_back blog_btn">
    <%= link_to '戻 る', blogs_path %>
  </div>
  <!-- 変更ボタン -->
  <div class="blog_update blog_btn">
    <%= link_to '変 更', edit_blog_path(@blog) %>
  </div>
  <!-- 削除ボタン -->
  <div class="blog_delete blog_btn">
    <%= link_to "削 除", @blog, method: :delete, data: { confirm: "You sure?" } %>
  </div>
</div>

<!-- 詳細画面 -->
<div class="blog_detail">
  <li class="blog_detail_list">
    <!-- タイトル・ボディ -->
    <span class="blog_title"><%= @blog.title %></span>
    <span class="blog_body"><%= @blog.body %></span>
    <span class="blog_date"><%= @blog.created_at %></span>
  </li>
<div>