<header style="z-index:1000;">　　<!-- 重なりの順序を数値で指定  -->

  <!-- ロゴ -->
  <div class="logo">
    <%= link_to "MINI BLOG", root_path, id: "logo" %>
  </div>

  <!-- ヘッダーナビゲーション　-->
  <div id="nav-header">
    <nav>
      <ul>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Blog",   blogs_path %></li>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "help",   '#' %></li>
      </ul>
    </nav>
  </div>
  
</header>